/* Nova Field CSS */
.m-2 {
    margin: 0.5rem;
}

.ml-2 {
    margin-left: 0.5rem;
}
.ml-3 {
    margin-left: 0.75rem;
}
.mb-4 {
    margin-bottom: 1rem;
}

.mr-6 {
    margin-right: 1.5rem;
}
.mr-8 {
    margin-right: 2rem;
}

.p-2 {
    padding: 0.5rem;
}

.border {
    border-width: 1px;
}

.rounded {
    border-radius: 0.25rem;
}

.gap-2 {
    gap: 0.5rem;
}

.border-gray-300 {
    border-color: #d1d5db;
}

.border-red-600 {
    border-color: #dc2626;
}

.bg-red-100 {
    background-color: #fee2e2;
}

.bg-red-50 {
    background-color: #fef2f2;
}
